@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400&family=Lato&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #333;
  color: #222;
  font-family: "Santepheap", sans-serif;
  margin: 0;
  overflow-x: hidden;
}
